<a href="https://colab.research.google.com/github/saykim/python_bigdata/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EC%BD%94%EB%94%A9_%ED%8C%81_190722.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 값이 존재하면 1, 값이 없으면 0
# titanic 'Cabin'의 경우를 예시

Cabin_exist= train['Cabin'].isnull().map({False:1, True:0})

In [0]:
# groupby 기능 예시

train.groupby([ 'Sex','Pclass'])['Age'].mean()

Sex     Pclass
female  1         34.611765
        2         28.722973
        3         21.750000
male    1         41.281386
        2         30.740707
        3         26.507589
Name: Age, dtype: float64
    
    
    
#조건으로 groupby 기능 예시
train.groupby(train['Cabin'].isnull()==True)['Survived'].mean()

Cabin
False    0.666667
True     0.299854
Name: Survived, dtype: float64